body {
    background: lightgrey;
    color: cornflowerblue;
    font-family: "Apple Color Emoji";
    font-size: larger;
}

#styling {
    text-align: center;
    width: auto;
    margin-top: 50px;
}

h1 {
    text-decoration: underline;
    font-size: 32px;
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
    0% {
        color: #6666ff;
    }
    25% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}